.bet-card {
    width: 400px;


    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 200px);
    justify-content: center;
    grid-template-rows: 25px 25px 25px 105px auto;
    background-color: #383232;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.85) 0px 3px 8px;
    border-radius: 15px;
    padding: 20px 20px 10px 20px;
    opacity: 0.9;
    margin: 30px;
    margin-top: 90px;
    position: relative;
    // background-image: url("../../../../images/Roundnet_Paris.png");
    // background-size: contain;
    // background-repeat: no-repeat;
    // background-position: 50% 0;

    .Logo-club {
        width: 150px;
        opacity: 0.2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: auto;
        filter: brightness(0);

    }

    @include mobile-only {
        padding: 20px 0px 10px 0px;
        grid-template-columns: repeat(2, 140px);
    }


    .team-name {
        grid-column: 1 / 3;
        grid-row: 1;
        text-align: center;


        @include mobile-only {
            margin-bottom: 10px;
        }


    }

    .competition-name {
        grid-column: 1 / 3;
        grid-row: 2;
        text-align: center;
        color: red;

        @include mobile-only {
            color: gold;
        }
    }

    .group-name {
        grid-column: 1 / 3;

        text-align: center;
        color: white;
    }

    .team-container {
        width: 200px;
        grid-row: 4;
        text-align: center;
        display: grid;
        grid-template-rows: 25px 20px 30px 30px;
        // margin-top: -30px;
        align-items: center;

        @include mobile-only {
            width: 140px;
        }
    }

    .team-cote {

        height: 20px;
        width: 50px;
        background-color: red;
        border: red 1px solid;
        font-weight: bold;
        border-radius: 5px;
        color: black;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        @include mobile-only {
            background-color: $color-4;
            border: $color-4 1px solid;
        }
    }

    .already-bet {
        // padding-bottom: 20px;
        margin-top: 10px;
        grid-column: 1 / 3;
        text-align: center;
        background-color: green;
        color: white;
        font-weight: bold;

    }

    .winner-prediction-A,
    .winner-prediction-B {
        width: 100px;
        display: block;
        margin: auto;
        background-color: $color-1;
        color: white;
        border-radius: 3px;
        font-weight: bold;


        .icon {
            padding-bottom: 2px;
            font-size: 12px;
        }
    }

    .bet-zone {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        grid-column: 1 / 3;
        grid-template-rows: repeat(2, 50px);
        justify-content: center;
        align-items: center;

        @include mobile-only {
            grid-template-columns: repeat(2, 130px)
        }
    }

    .bet-score-container input {
        margin-left: 75px;

        width: 50px;
        border-radius: 3px;
        text-align: center;

        @include mobile-only {
            margin-left: 40px;
        }
    }

    .mise {
        grid-column: 1 / 3;
        width: 200px;
        margin: auto;
        background-color: $color-1;
        border: white 1px solid;
        border-radius: 5px;
        opacity: 0.9;
        display: flex;
        height: 30px;

        input {
            background-color: $color-1;
            margin: auto;
            color: white;
            margin-left: 0;
            width: 100px;
            display: flex;
            justify-content: flex-start;
            padding-left: 4px;
        }

        span {
            display: flex;
            justify-content: flex-end;
            padding-right: 4px;
            align-items: center;
        }
    }


    .player {
        @include mobile-only {
            font-size: 13px;
        }
    }


    .bet-zone .btn-parier {
        grid-column: 1 / 3;
        width: 100px;
        height: 30px;
        background-color: red;
        color: black;
        font-weight: bold;
        text-align: center;
        margin: auto;
        box-shadow: rgba(0, 0, 0, 0.85) 0px 3px 8px;
        border: none;

        @include mobile-only {
            background-color: gold;
        }

    }

    .bet-error {
        grid-column: 1/3;
        text-align: center;
        width: 95%;

        margin: 5px;

    }

}