.rank-bet-card,
.img {
    display: flex;
    flex-direction: column;
    gap: 16px;

    background-color: $color-1;
    border-radius: 8px;
    padding: 24px 96px;
    margin-bottom: 20px;
    color: white;
    opacity: 0.85;
    overflow: hidden;
    position: relative;

    @include mobile-only {
        padding: 24px 36px;
        opacity: 1;
    }

    .competition-type {
        position: absolute;
        top: 60px;
        width: 150px;
        left: -30px;
        padding: 10px 20px;
        background-color: black;
        color: #fff;
        transform: rotate(-40deg);
        transform-origin: 0 0;
        text-align: center;
        font-weight: bold;

    }

    h1 {
        font-size: 1.5rem;
        margin-bottom: 10px;
        color: white;

        @include mobile-only {
            font-size: 1.2rem;
            padding: 0 24px;
        }

    }

    .bar-chart-container {
        display: flex;
        flex-direction: column;
    }

    .select-player-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: center;
        align-items: center;

        .flex-centered {
            display: flex;
            align-items: center;
            gap: 4px;
            padding: 4px;
        }

        .black-background {
            display: flex;
            align-items: center;
            gap: 4px;
            background: black;

            @include mobile-only {
                background: none;
                box-shadow: black 0px 0px 5px;
            }
        }

        label {
            font-weight: bold;
            color: white;
            margin-right: 16px;
        }

        .teams {
            display: flex;
            gap: 8px;
            align-items: center;
        }

        .index {
            font-size: 24px;
            font-weight: 800;
        }

        select {
            margin: auto;
            background-color: black;
            color: white;
            height: 24px;
            width: 100%;
            cursor: pointer;

            &:hover {
                filter: contrast(150%);
            }
        }

        .delete-team {
            font-size: 12px;
            cursor: pointer;

            &:hover {
                filter: contrast(150%);
                color: gold;
            }
        }
    }

    @include mobile-only {
        .teams {
            align-self: stretch;
        }

        .black-background {
            width: 100%;
        }
    }

    .select-player {
        display: flex;
        align-items: center;
        padding: 0 4px;
        cursor: pointer;
        gap: 4px;
        justify-content: space-between;

        .delete-team {
            margin: 0px;
            font-size: 16px;

            &:hover {
                filter: contrast(150%);
            }
        }

        .icon-add {
            margin: 0px;
            font-size: 24px;

            &:hover {
                filter: contrast(150%);
            }
        }

        .flex-centered {
            display: flex;
            align-items: center;
            gap: 4px;
        }
    }

    .selected-teams {
        p {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            background: linear-gradient(to right, #008000, #00ff00);
            padding: 4px;
            border-radius: 5px;

            .icon {
                margin-left: 10px;
                cursor: pointer;
            }
        }

        p:nth-child(1) {
            background: linear-gradient(to right, #008000 80%, #00ff00 20%);
        }

        p:nth-child(2) {
            background: linear-gradient(to right, #008000 60%, #00ff00 40%);
        }

        p:nth-child(3) {
            background: linear-gradient(to right, #008000 40%, #00ff00 60%);
        }

        p:nth-child(4) {
            background: linear-gradient(to right, #008000 20%, #00ff00 80%);
        }

        p:nth-child(5) {
            background: linear-gradient(to right, #008000 0%, #00ff00 100%);
        }
    }


    .bet-error {
        color: #dc3545;
        margin-top: 10px;
    }
}