.rank-bet-card {
    display: flex;
    flex-direction: column;
    gap: 16px;

    background-color: $color-1;
    border-radius: 8px;
    padding: 24px 96px;
    margin-bottom: 20px;
    color: white;
    opacity: 0.85;
    overflow: hidden;
    position: relative;

    @include mobile-only {
        padding: 24px 36px;
        opacity: 1;
    }

    @include small-mobile-only {
        padding: 24px 16px;
    }

    .competition-type {
        position: absolute;
        top: 60px;
        width: 150px;
        left: -30px;
        padding: 10px 20px;
        background-color: black;
        color: $gold-color;
        transform: rotate(-40deg);
        transform-origin: 0 0;
        text-align: center;
        font-weight: bold;

    }

    .tournament-state {
        padding: 0 24px;
        text-align: center;
        font-size: 25px;
    }

    .classement {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .index {
            font-size: 24px;
            font-weight: 500;
        }

        .prediction {
            display: flex;
            gap: 8px;
            align-items: center;
        }

        .team-name {
            font-size: 16px;
            // border: 1px solid rgb(204, 204, 204);
            // padding: 8px;
            // background-color: black;
            // border-radius: 4px;
        }

        .good-prediction {
            color: #90ee90;

        }

        .false-prediction {
            color: red;
        }
    }

    .tournament-to-come {
        text-align: center;
        font-size: 25px;

        @include mobile-only {
            padding: 24px 32px 0 32px;
        }
    }


    h1 {
        font-size: 1.5rem;
        margin-bottom: 10px;
        color: white;

        @include mobile-only {
            font-size: 1.2rem;
            padding: 0 40px;
        }

    }

    .connect-to-bet {
        padding: 25px;
        text-align: center;
        font-size: 1.5em;
        color: $gold-color;
    }

    .bar-chart-container {
        display: flex;
        flex-direction: column;
    }

    .select-player-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: center;
        align-items: center;

        .select-player-item {
            @include mobile-only {
                width: 100%;
            }
        }

        .flex-centered {
            display: flex;
            align-items: center;
            gap: 4px;
            padding: 4px;
            width: max-content;
        }

        .black-background {
            display: flex;
            align-items: center;
            gap: 4px;
            background: black;

            @include mobile-only {
                // background: none;
                box-shadow: black 0px 0px 5px;
            }
        }

        label {
            font-weight: bold;
            color: white;
            margin-right: 16px;
        }

        .teams {
            display: flex;
            gap: 8px;
            align-items: center;
        }

        .index {
            font-size: 24px;
            font-weight: 800;
        }

        select {
            margin: auto;
            background-color: black;
            color: white;
            height: 24px;
            width: 400px;
            cursor: pointer;
            font-weight: normal;
            opacity: 0.8;
        }

        option {
            width: 200px;
            padding: 4px;
            cursor: pointer;
            font-weight: normal;
            opacity: 0.8;
            height: 24px;
            line-height: 1.6;

            //alterner background color pour les options
            &:nth-child(odd) {
                background-color: $color-1;
            }

            &:nth-child(odd) {
                background-color: #1a1a1a;
            }

            &:hover {
                background-color: gray;
            }

        }

        .delete-team {
            font-size: 12px;
            cursor: pointer;

            &:hover {
                filter: contrast(150%);
                color: $gold-color;
            }
        }
    }

    @include mobile-only {
        .teams {
            align-self: stretch;
        }

        .black-background {
            width: 100%;
        }
    }

    .select-player {
        display: flex;
        align-items: center;
        padding: 0 4px;
        cursor: pointer;
        gap: 4px;
        justify-content: space-between;

        .delete-team {
            margin: 0px;
            font-size: 16px;

            &:hover {
                filter: contrast(150%);
            }
        }

        .icon-add {
            margin: 0px;
            font-size: 24px;

            &:hover {
                filter: contrast(150%);
            }
        }

        .flex-centered {
            display: flex;
            align-items: center;
            gap: 4px;
        }
    }

    .selected-teams {
        p {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            background: linear-gradient(to right, #008000, #00ff00);
            padding: 4px;
            border-radius: 5px;

            .icon {
                margin-left: 10px;
                cursor: pointer;
            }
        }

        p:nth-child(1) {
            background: linear-gradient(to right, #008000 80%, #00ff00 20%);
        }

        p:nth-child(2) {
            background: linear-gradient(to right, #008000 60%, #00ff00 40%);
        }

        p:nth-child(3) {
            background: linear-gradient(to right, #008000 40%, #00ff00 60%);
        }

        p:nth-child(4) {
            background: linear-gradient(to right, #008000 20%, #00ff00 80%);
        }

        p:nth-child(5) {
            background: linear-gradient(to right, #008000 0%, #00ff00 100%);
        }
    }


    .bet-error {
        color: red;
        margin-top: 10px;
        font-size: 25px;
        text-align: center;
        width: 100%;
    }
}