#update-profil-form {

    width: 400px;
    margin: auto;
    margin-top: 20%;

    margin-bottom: 50px;

    padding: 20px 0;
    user-select: none;
    text-align: center;
    background-color: $color-1;
    box-shadow: rgba(0, 0, 0, 0.85) 0px 3px 8px;

    opacity: 0.9;



    .btn {
        background-color: $color-4;

        box-shadow: rgba(0, 0, 0, 0.85) 0px 3px 8px;
        color: white;

        box-shadow: rgba(0, 0, 0, 0.85) 0px 3px 8px;
        padding: 10px;
    }

    label {
        color: white;

    }

    input {
        color: black;
        padding-left: 4px;
    }
}