.ranking {
    margin: 100px 10px 100px 240px;
    display: flex;
    justify-content: center;
    ;

    $table-bg-color: #f4f4f4;
    $even-row-bg-color: #e0e0e0;

    $table-bg-color: #f4f4f4;

    $table-bg-color-even: #e0e0e0;
    $table-bg-color-odd: #f4f4f4;

    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-family: Arial, sans-serif;
        border: 1px solid #ddd;
        opacity: 0.9;
        border-radius: 8px;

        @include small-mobile-only {
            font-size: 12px;
        }

        thead {
            th {
                padding: 12px;
                text-align: left;
                border-bottom: 1px solid #ddd;
                background-color: $color-1;
                color: $gold-color;
                border-left: 1px solid gold;
                border-right: 1px solid gold;

            }
        }

        tbody {
            tr {


                &:nth-child(even) {
                    background-color: $table-bg-color-even;

                }

                &:nth-child(odd) {
                    background-color: $table-bg-color-odd;
                }

                td {
                    padding: 10px;
                    border-bottom: 1px solid #ddd;
                }
            }
        }
    }




    @include mobile-only {
        margin: 90px 10px 30px 10px;
    }
}



.team-list-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    font-weight: normal;

    .team-list-container {
        background: linear-gradient(rgba(0, 0, 0, 0.25),
                rgba(0, 0, 0, 0.35)),
            url("../../../images/RP_backgroundImage (2).jpg");
        color: white;
        padding: 120px 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px #1a1a1a;
        overflow-y: auto;
        height: 100%;
        width: 100%;

        .background {
            background-color: #202020;
            border-radius: 16px;
            padding: 16px;
            padding-top: 40px;
            position: relative;
        }

        input {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 8px;
            cursor: pointer;
            border: 1px solid #404040;
            justify-content: space-between;
            width: 100%;
            opacity: 0.9;
            background: none;
            color: white;
            margin-bottom: 8px;
            border-radius: 4px;
        }

        h2 {
            color: white;
            font-size: 1.5rem;
            opacity: 0.95;
        }

        .teams {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .team {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 8px;
            cursor: pointer;
            border-bottom: 1px solid #404040;
            justify-content: space-between;
            width: 100%;
            opacity: 0.9;

            .add-icon {
                width: 40px;
                align-self: end;
                display: flex;
                align-items: center;
            }

            :hover {
                color: $gold-color;
                border-bottom: 1px solid #404040;
            }
        }

        .close-icon {
            /* Optional: Your styles for the close button */
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            font-size: 32px;
            opacity: 0.9;

            :hover {
                opacity: 1;
            }
        }
    }
}